openapi: 3.0.1
info:
  title: Sezzle API v2 Bearer Authentication API
  description: This Sezzle API is for merchants who want to accept Sezzle as a payment option
  termsOfService: https://legal.sezzle.com
  version: 2.0.0
  x-logo:
    url: https://media.sezzle.com/branding/2.0/png/Logo_WhiteWordmark_500x126.png
    backgroundColor: '#392558'
servers:
- url: https://sandbox.gateway.sezzle.com/v2
  description: development server, usa, ca
- url: https://gateway.sezzle.com/v2
  description: production server, usa, ca
security:
- Bearer: []
tags:
- name: Bearer Authentication
paths:
  /authentication:
    post:
      tags:
      - Bearer Authentication
      summary: Get a bearer authentication token
      operationId: postV1Authentication
      requestBody:
        description: Authentication request
        content:
          application/json:
            schema:
              type: object
              properties:
                private_key:
                  type: string
                public_key:
                  type: string
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  expiration_date:
                    type: string
                    format: date-time
                  merchant_uuid:
                    type: string
                  token:
                    type: string
      security: []
components:
  securitySchemes:
    Bearer:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: Sezzle API guides and tutorials
  url: https://docs.sezzle.com/sezzle-integration
